In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('training_test_data.csv')

In [3]:
data.shape

(100, 4)

In [4]:
data.head()

   Age  Gender  Experience  Income
0   50       1          15     180
1   29       1           5     163
2   36       1           6     134
3   34       2           4     132
4   46       1           9     188

In [5]:
data_np = data.values

In [6]:
data_np

array([[ 50,   1,  15, 180],
       [ 29,   1,   5, 163],
       [ 36,   1,   6, 134],
       [ 34,   2,   4, 132],
       [ 46,   1,   9, 188],
       [ 33,   1,   3, 127],
       [ 26,   2,   8, 141],
       [ 23,   1,   5, 122],
       [ 48,   1,   7, 169],
       [ 24,   1,   5, 114],
       [ 44,   1,  10, 174],
       [ 60,   1,  25, 190],
       [ 51,   2,  17, 190],
       [ 24,   2,   1, 110],
       [ 28,   1,   2, 120],
       [ 32,   1,   3, 130],
       [ 46,   1,  12, 165],
       [ 39,   1,  10, 170],
       [ 23,   2,   3, 120],
       [ 28,   1,   1, 130],
       [ 33,   1,   3, 133],
       [ 48,   2,  15, 167],
       [ 39,   1,   6, 155],
       [ 40,   1,   9, 159],
       [ 46,   1,  13, 179],
       [ 49,   2,  22, 200],
       [ 28,   1,   3, 120],
       [ 30,   2,   1, 145],
       [ 52,   2,  27, 181],
       [ 51,   2,  21, 198],
       [ 22,   2,   1, 112],
       [ 31,   2,   4, 143],
       [ 28,   2,   2, 104],
       [ 38,   1,  11, 160],
       [ 40,   1,  13, 199],
       [ 35,   1,   5, 127],
       [ 21,   2,   1, 115],
       [ 37,   2,  10, 146],
       [ 57,   1,  30, 154],
       [ 41,   2,  15, 191],
       [ 49,   2,  22, 155],
       [ 30,   2,   2, 147],
       [ 26,   2,   1, 110],
       [ 37,   2,  11, 151],
       [ 28,   2,   2, 127],
       [ 59,   1,  33, 197],
       [ 29,   1,   2, 117],
       [ 23,   1,   1, 130],
       [ 37,   1,  11, 151],
       [ 22,   1,   1, 137],
       [ 55,   1,  30, 181],
       [ 23,   2,   1, 115],
       [ 34,   1,   8, 145],
       [ 57,   2,  29, 178],
       [ 57,   1,  31, 194],
       [ 27,   1,   5, 126],
       [ 50,   1,  21, 198],
       [ 33,   1,   7, 138],
       [ 22,   1,   1, 129],
       [ 33,   2,   3, 131],
       [ 24,   2,   2, 113],
       [ 52,   1,  24, 155],
       [ 23,   2,   2, 122],
       [ 51,   2,  26, 159],
       [ 53,   2,  26, 165],
       [ 25,   2,   0, 103],
       [ 33,   1,   6, 141],
       [ 57,   1,  30, 159],
       [ 59,   2,  33, 194],
       [ 28,   2,   3, 120],
       [ 21,   2,   1, 118],
       [ 46,   1,  19, 168],
       [ 53,   1,  24, 156],
       [ 50,   2,  21, 185],
       [ 59,   1,  33, 156],
       [ 38,   2,  10, 138],
       [ 43,   2,  17, 174],
       [ 60,   2,  32, 158],
       [ 50,   1,  20, 191],
       [ 55,   2,  25, 154],
       [ 24,   2,   2, 114],
       [ 53,   2,  23, 200],
       [ 47,   2,  21, 168],
       [ 55,   1,  26, 155],
       [ 24,   2,   1, 124],
       [ 32,   1,   3, 160],
       [ 46,   2,  19, 190],
       [ 26,   1,   1, 124],
       [ 26,   2,   2, 120],
       [ 44,   1,  16, 189],
       [ 36,   1,  11, 144],
       [ 30,   1,   2, 155],
       [ 26,   2,   2, 125],
       [ 57,   2,  28, 166],
       [ 47,   2,  18, 197],
       [ 46,   2,  19, 198],
       [ 31,   1,   6, 130],
       [ 57,   2,  29, 168],
       [ 22,   1,   1, 129],
       [ 58,   2,  29, 190]], dtype=int64)

In [7]:
data_np.shape

(100, 4)

In [8]:
# 종속변수와 독립변수 데이터 분리하기
y = data_np[:,-1]
X = data_np[:,:-1]

학습 데이터와 테스트 데이터로 분리하기

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [11]:
X_train.shape

(70, 3)

In [12]:
X_test.shape

(30, 3)

In [13]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [14]:
model.fit(X_train, y_train)

LinearRegression()

모델 평가하기

In [16]:
model.score(X_test, y_test)

0.6423887563036547

In [17]:
from sklearn.metrics import r2_score

In [18]:
r2_score(y_test, model.predict(X_test))

0.6423887563036547